<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/img/admin/black_icon.png" type="image/gif" sizes="16x16">
  <title>f.pop 客製化設計</title>
  <link rel="stylesheet" type="text/css" href="/css/all.css" />
  <!-- <script src="/js/index/bootstrap.min.js"></script> -->
  <script src="/js/home/jquery.min.js"></script>
  <script src="/js/home/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/js/index/html2canvas_min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">


  <style>
    /* .nav_class {
      padding-left: 16.875%;
      padding-right: 16.875%;
      z-index: 5000;
    }

    .logo_where {
      margin-left: 25%;
    }

    .search_input {
      height: 35px;
      border-radius: 50px;
    }

    .search_button {
      font-size: 0.9em;
    } */

    .middleboard {
      overflow: hidden;
    }

    .uploadA,
    .uploadB {
      margin: 0 1px;
      border: #363B36 solid 1px;
      border-radius: 10px;
      background-color: #e4e4e4;
      width: 49%;
      height: 100%;
      float: left;
      overflow: hidden;
    }

    .button {
      /* text-decoration: none; */
      /* text-transform: uppercase; */
      color: rgb(0, 0, 0);
      position: relative;
      overflow: hidden;
      transition: background-color 0.8s;
    }

    .button:hover {
      background-color: #ffffff;
    }

    .button::before {
      content: "";
      position: absolute;
      top: 0;
      left: -50px;
      width: 0;
      height: 100%;
      background-color: #FFE200;
      transform: skewX(60deg);
      z-index: -1;
      transition: width 0.8s;
    }

    .button:hover::before {
      width: 185%;
    }
  </style>
</head>

<body>

  <div>
    <%- include("navbar.ejs") %>
      <% var memid=0; %>
        <% if(memberprofile !=null){ %>
          <% console.log(memberprofile.id);memid=memberprofile.id; }%>

            <!-- 小連結 -->

            <!-- 客製化T  -->
            <div class="container" style="position:relative;margin: 50px auto; border-bottom: 1px black solid;"
              id="customdiv">
              <div>
                <a href=""><b>首頁</b></a>|
                <b>我的設計</b>
              </div>
              <h4 style="text-align: center; margin-bottom: 40px;"> <b>客製化T恤</b> </h4>
              <span style="font-size: 15px;">STEP</span><b style="font-size: 18px;">1. 選擇顏色</b>


              <!-- 選擇顏色 -->
              <div style="display: inline-block; margin-left: 40px;">
                <div id="blackc" style="background-color:black; width: 26px; height: 26px;display: inline-block;">
                </div>
                <div id="whitec"
                  style="margin-left: 9px;color:black; width: 26px; height: 26px;border: 1px black solid;display: inline-block;">
                </div>
                <div id="redc"
                  style="margin-left: 9px;background-color:#91414C; width: 26px; height: 26px;display: inline-block;">
                </div>
                <div id="purplec"
                  style="margin-left: 9px;background-color:#d17dbe; width: 26px; height: 26px;display: inline-block;">
                </div>
                <div id="yellowc"
                  style="margin-left: 9px;background-color:#FFD233; width: 26px; height: 26px;display: inline-block;">
                </div>
                <div id="greenc"
                  style="margin-left: 9px;background-color:#B9B89A; width: 26px; height: 26px;display: inline-block;">
                </div>
                <div id="bluec"
                  style="margin-left: 9px;background-color:#A9C2C9; width: 26px; height: 26px;display: inline-block;">
                </div>
                <div id="darkbluec"
                  style="margin-left: 9px;background-color:#363B36; width: 26px; height: 26px;display: inline-block;">
                </div>

              </div>

              <!-- 中間衣服畫板 -->
              <div id="capture" class="row middleboard" style="border: black solid 1px; height: 533px; margin-top: 60px; width: 1116px;
                margin-left: -3px;">

                <div class="col-6 move_place" id="target-container" ondragover="over(event)" ondrop="drop(event)"
                  style="position: absolute; text-align: center; padding: 0;left: 0;">
                  <img ondragover="over(event)" ondrop="drop(event)" id="cloth_front"
                    src="/img/index/Tshirt/black_f.png" alt="" style=" z-index: 500;margin-top: 2px;">
                  <img id="cloth_fronto" src="../Tshirt/black_fo.png" alt=""
                    style="position: relative; top: -528px; z-index: 1500; pointer-events: none; margin-top: 2px;">

                </div>

                <div class="col-6 move_place" id="target-container" ondragover="over(event)" ondrop="drop(event)"
                  style="position: absolute; text-align: center; padding: 0;right: 1px;">
                  <img ondragover="over(event)" ondrop="drop(event)" id="cloth_back" src="/img/index/Tshirt/black_b.png"
                    alt="" style="z-index: 500; margin-top: 2px;">
                  <img id="cloth_backo" src="../Tshirt/black_bo.png" alt=""
                    style="position: relative; top: -524px; z-index: 1500; pointer-events: none; margin-top: 2px;">
                </div>
              </div>

              <!-- STEP2之後 -->
              <div class="row" style="height: 300px; margin-top: 90px; z-index: 2000">
                <div class="col-6" style="text-align: center">
                  <span style="font-size: 15px">STEP</span><b style="font-size: 18px">2. 上傳圖片</b>
                  <br /><br /><br /><br />
                  <input class="btn font-width-blod border border-secondary px-1 py-1" id="myFile" type="file"
                    style="border: black solid 1px; width: 38%; font-size: 15px" />
                </div>

                <div class="col-6" style="text-align: center">
                  <span style="font-size: 15px">STEP</span><b style="font-size: 18px">3. 將圖片拖曳至T恤</b>
                  <div style="
                width: 320px;
                height: 180px;
                margin: 20px auto;
                border-radius: 10px;
              ">
                    <div class="uploadA" id="upload_place"></div>
                    <div class="uploadB" id="upload_placeii"></div>
                  </div>
                </div>
              </div>

              <div class="row" style="height: 350px">
                <div class="col-6" style="text-align: center">
                  <span style="font-size: 15px">STEP</span><b style="font-size: 18px">4. 儲存&上傳檔案</b>
                  <br /><br /><br /><br />
                  <a href="#">
                    <button class="button btn font-width-blod border border-secondary px-3 py-1" onclick="divtoimg()"
                      style="border-radius: 5px">
                      儲存設計
                    </button>

                  </a>
                  <br><br><br>
                  <p>請上傳65kb以下的檔案</p>
                  <input class="btn font-width-blod border border-secondary px-1 py-1" type="file" id="uploadfinal"
                    style=" width: 40%;">
                  <div id="seefinal" style=" width: 100px;height: 70px;margin: 20px auto;"></div>
                  <br>
                </div>

                <div class="col-6" style="text-align: center">
                  <span style="font-size: 15px">STEP</span><b style="font-size: 18px">5. 訂購數量&尺寸</b>
                  <table style="
                margin: 0 auto;
                width: 350px;
                height: 240px;
                margin-top: 50px;
              ">
                    <tr>
                      <th style="width: 100px">尺寸</th>
                      <th style="width: 100px">數量</th>
                      <th style="width: 150px">價格/每件</th>
                    </tr>
                    <tr>
                      <td>S</td>
                      <td><input id="Snum" type="text" style="width: 50px; height: 22px" placeholder="0" /></td>
                      <td>NT$ 450</td>
                    </tr>
                    <tr>
                      <td>M</td>
                      <td><input id="Mnum" type="text" style="width: 50px; height: 22px" placeholder="0" /></td>
                      <td>NT$ 450</td>
                    </tr>
                    <tr>
                      <td>L</td>
                      <td><input id="Lnum" type="text" style="width: 50px; height: 22px" placeholder="0" /></td>
                      <td>NT$ 450</td>
                    </tr>
                    <tr>
                      <td>所有項目：</td>
                      <td></td>
                      <td>小計： NT$ <span id="totalprice"></span></td>
                    </tr>
                    <tr style="border-top: 1px solid rgb(165, 165, 165)">
                      <td></td>
                      <td></td>
                      <td style="visibility: hidden">55</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td style="margin-top: 20px">
                        <button class="button btn font-width-blod border border-secondary px-1 py-1" id="addprod"
                          style="border-radius: 5px">
                          加入購物車
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <!-- 小介紹 -->
            <div style="position: relative; width: 28%; top: 300px; left: 16.875%">
              <b>
                United Athle 頂級柔棉T恤 <br />
                <br />

                日本潮流品牌，精選頂級柔綿 <br />

                5.6盎司加上多色選擇 <br />

                人手必備一件的人氣單品 <br />
                <br />
                <br />
              </b>

              <span style="color: red"><b>*此款式屬於中性休閒版型，請參考尺寸表依個人穿衣習慣斟酌選購。</b></span>
            </div>

            <!-- 圖片介紹 -->
            <div style="text-align: center; position: relative; top: 400px; height: 1200px">
              <img src="/img/index/product_detail.png" alt="" style="width: 550px" />
              <br />
              <img src="/img/index/product_size.png" alt="" style="width: 450px" />
              <br />
              <img src="/img/index/product_more.png" alt="" style="width: 550px" />
            </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <%- include("footer.ejs") %>




</body>

<script>
  // console.log(document.getElementById("srcbuffer"));
  console.log(document.documentElement.clientWidth);
  $(document).ready(function () {
    var wid = document.documentElement.clientWidth;
    $("#customdiv").css("width", `${wid * 0.7}px`);
  })

  var color_choose = function () {
    console.log(this.id);
    switch (this.id) {
      case 'blackc':
        cloth_front.src = '/img/index/Tshirt/black_f.png';
        cloth_back.src = '/img/index/Tshirt/black_b.png';
        cloth_fronto.src = '/img/index/Tshirt_2/black_fo.png';
        cloth_backo.src = '/img/index/Tshirt_2/black_bo.png';
        cloth_backo.style.top = '-523px';
        break;
      case 'whitec':
        cloth_front.src = '/img/index/Tshirt/white_f.png';
        cloth_back.src = '/img/index/Tshirt/white_b.png';
        cloth_fronto.src = '/img/index/Tshirt_2/white_fo.png';
        cloth_backo.src = '/img/index/Tshirt_2/white_bo.png';
        cloth_backo.style.top = '-527px';
        break;
      case 'redc':
        cloth_front.src = '/img/index/Tshirt/darkred_f.png';
        cloth_back.src = '/img/index/Tshirt/darkred_b.png';
        cloth_fronto.src = '/img/index/Tshirt_2/darkred_fo.png';
        cloth_backo.src = '/img/index/Tshirt_2/darkred_bo.png';
        cloth_backo.style.top = '-529px';
        break;
      case 'purplec':
        cloth_front.src = '/img/index/Tshirt/purple_f.png';
        cloth_back.src = '/img/index/Tshirt/purple_b.png';
        cloth_fronto.src = '/img/index/Tshirt_2/purple_fo.png';
        cloth_backo.src = '/img/index/Tshirt_2/purple_bo.png';
        cloth_backo.style.top = '-528px';
        break;
      case 'yellowc':
        cloth_front.src = '/img/index/Tshirt/yellow_f.png';
        cloth_back.src = '/img/index/Tshirt/yellow_b.png';
        cloth_fronto.src = '/img/index/Tshirt_2/yellow_fo.png';
        cloth_backo.src = '/img/index/Tshirt_2/yellow_bo.png';
        cloth_backo.style.top = '-528px';
        break;
      case 'greenc':
        cloth_front.src = '/img/index/Tshirt/green_f.png';
        cloth_back.src = '/img/index/Tshirt/green_b.png';
        cloth_fronto.src = '/img/index/Tshirt_2/green_fo.png';
        cloth_backo.src = '/img/index/Tshirt_2/green_bo.png';
        cloth_backo.style.top = '-529px';
        break;
      case 'bluec':
        cloth_front.src = '/img/index/Tshirt/blue_f.png';
        cloth_back.src = '/img/index/Tshirt/blue_b.png';
        cloth_fronto.src = '/img/index/Tshirt_2/blue_fo.png';
        cloth_backo.src = '/img/index/Tshirt_2/blue_bo.png';
        cloth_backo.style.top = '-527px';
        break;
      case 'darkbluec':
        cloth_front.src = '/img/index/Tshirt/darkblue_f.png';
        cloth_back.src = '/img/index/Tshirt/darkblue_b.png';
        cloth_fronto.src = '/img/index/Tshirt_2/darkblue_fo.png';
        cloth_backo.src = '/img/index/Tshirt_2/darkblue_bo.png';
        cloth_backo.style.top = '-529px';
        break;
    }
  };

  blackc.onclick = color_choose;
  whitec.onclick = color_choose;
  redc.onclick = color_choose;
  purplec.onclick = color_choose;
  yellowc.onclick = color_choose;
  greenc.onclick = color_choose;
  bluec.onclick = color_choose;
  darkbluec.onclick = color_choose;
</script>
<script>
  var real = true;
  var imgsrc = '';
  var src_arr = [];
  var uploadNum = 0;
  var fstmovsrc = '';
  // const myImg = new Image();

  myFile.onchange = function () {
    const reader = new FileReader();
    reader.readAsDataURL(myFile.files[0]);
    // console.log(myFile.files);
    reader.onload = function () {
      // console.log(reader.result);
      // 15. 透過 new Image() 記錄圖片
      //      * Image.src

      // 20. 將圖片顯示到網頁上

      const aamyImg = new Image(); // document.createElement('img'); // <img>
      src_arr[0] = reader.result;
      aamyImg.src = src_arr[0]; // <img src='data....'>
      aamyImg.id = 'aamyImg';
      aamyImg.draggable = 'true';
      aamyImg.style.zIndex = 1000;
      aamyImg.style.margin = '10px';
      aamyImg.addEventListener(
        'dragstart',
        function () {
          start(event);
        },
        false
      );
      // real = false;
      // var new_img_src = myImg.src;

      const bbmyImgb = new Image(); // document.createElement('img'); // <img>
      src_arr[1] = reader.result;
      bbmyImgb.src = src_arr[1]; // <img src='data....'>
      bbmyImgb.id = 'bbmyImgb';
      bbmyImgb.draggable = 'true';
      bbmyImgb.style.margin = '10px';
      bbmyImgb.addEventListener(
        'dragstart',
        function () {
          start(event);
        },
        false
      );
      // real = false;
      // var new_img_src = myImg.src;

      if (uploadNum == 0) {
        aamyImg.onload = function () {
          // 　　a. 透過 <img>
          aamyImg.style.width = '100px';
          document.getElementById('upload_place').append(aamyImg);

          $('#upload_place img').bind('mousewheel', function () {
            zoomImg(this);
            return false;
          });
          aamyImg.addEventListener('mousedown', (event) => {
            console.log(this);
            fstmovsrc = this.src;
          });

          uploadNum++;
        };
      } else {
        bbmyImgb.onload = function () {
          // 　　a. 透過 <img>
          bbmyImgb.style.width = '100px';
          document.getElementById('upload_placeii').append(bbmyImgb);

          $('#upload_placeii img').bind('mousewheel', function () {
            zoomImg(this);
            return false;
          });
          bbmyImgb.addEventListener('mousedown', (event) => {
            console.log(this);
            fstmovsrc = this.src;
          });

          uploadNum++;
        };
      }
    };
  };

  function zoomImg(o) {
    var zoom = parseInt(o.style.width);
    // console.log(event.wheelDelta)
    zoom += event.wheelDelta / 12;
    if (zoom > 0) o.style.width = zoom + 'px';
    if (zoom > 500) o.style.width = '500px';
  }
</script>
<script>
  // 40. ondragover 拖動過程中，允許元素接受 drop

  var co = 0;
  function over(evtobj) {
    evtobj.preventDefault();
  }

  // 50. ondragstart 當元素開始被拖動的時候，紀錄元素id
  // var moving_src = "";
  function start(evtobj) {
    console.log(evtobj);
    console.log(evtobj.target);
    // console.log(this);
    // moving_src = evtobj.target.src;
    var x = evtobj.offsetX,
      y = evtobj.offsetY;

    evtobj.dataTransfer.setData('text/plain', evtobj.target.id);
    evtobj.dataTransfer.setData('X', x);
    evtobj.dataTransfer.setData('Y', y);
    // evtobj.dataTransfer.setData('src', moving_src);
  }

  // 60. ondrop 滑鼠放開時，將元素附加到指定位置
  var drop_count = 0;
  var temp = '';
  function drop(evtobj) {
    drop_count++;
    // console.log(evtobj);
    // console.log(evtobj.target);
    // console.log(evtobj.target.tagName);
    var x = parseInt(evtobj.dataTransfer.getData('X'));
    var y = parseInt(evtobj.dataTransfer.getData('Y'));
    // var nsrc = evtobj.dataTransfer.getData('src');

    if (evtobj.target.tagName != 'ASG') {
      temp = evtobj.dataTransfer.getData('text/plain');
      // document.getElementById(temp).src = nsrc;
      // console.log(evtobj.target.id.substr(0, 2) != 'aa');
      // console.log(evtobj.target.id.substr(0, 2) != 'bb');
      // console.log(
      //   evtobj.target.id.substr(0, 2) != 'aa' ||
      //   evtobj.target.id.substr(0, 2) != 'bb'
      // );

      if (
        evtobj.target.id.substr(0, 2) != 'aa' &&
        evtobj.target.id.substr(0, 2) != 'bb'
      ) {
        document.getElementById(temp).style.position = 'absolute';
        document.getElementById(temp).style.left = evtobj.layerX - x + 'px';
        document.getElementById(temp).style.top = evtobj.layerY - y + 'px';
        document.getElementById(temp).style.margin = 0;
        document.getElementById(temp).addEventListener(
          'dragstart',
          function () {
            start(event);
          },
          false
        );

        evtobj.target.parentNode.appendChild(document.getElementById(temp));
        // console.log(evtobj.target);
        // console.log(temp);

        var tempstr = temp.substr(0, 2);
        // console.log(tempstr);
        if (tempstr == 'aa') {
          appendnewimg();
        } else {
          appendnewimgb();
        }
        // if(appendnum > 1){
        //     document.getElementById(`myImgaa${appendnum}`).remove();
        // }
        // // 刪除移動後會複製的原生物，只留下一個
        var ci = upload_place.children;
        var lis = Array.from(ci);
        // console.log(lis);

        lis.forEach((index, e) => {
          // console.log(index);
          if (e > 0) {
            index.remove();
          }
        });

        var vi = upload_placeii.children;
        var lisv = Array.from(vi);
        // console.log(lisv);

        lisv.forEach((index, e) => {
          // console.log(index);
          if (e > 0) {
            index.remove();
          }
        });
      }
    }
    co++;
  }

  // 移動後原本圖片會消失，重新加入
  var appendnum = 0;
  var appendnewimg = function () {
    // 　　a. 透過 <img>
    var ntemp = document.getElementById(temp).cloneNode(true);
    ntemp.id = `aamyImgaa${appendnum}`;

    // console.log(ntemp);
    document.getElementById('upload_place').appendChild(ntemp);
    document.getElementById(`aamyImgaa${appendnum}`).style.position =
      'relative';
    document.getElementById(`aamyImgaa${appendnum}`).style.left = 0;
    document.getElementById(`aamyImgaa${appendnum}`).style.top = 0;
    document.getElementById(`aamyImgaa${appendnum}`).addEventListener(
      'dragstart',
      function () {
        start(event);
      },
      false
    );
    $('#upload_place img').bind('mousewheel', function () {
      // console.log(myImg);
      zoomImg(this);
      return false;
    });
    appendnum++;
  };

  var appendbnum = 0;
  var appendnewimgb = function () {
    // 　　a. 透過 <img>
    var nbtemp = document.getElementById(temp).cloneNode(true);
    nbtemp.id = `bbmyImgbb${appendbnum}`;

    // console.log(ntemp);
    document.getElementById('upload_placeii').appendChild(nbtemp);
    document.getElementById(`bbmyImgbb${appendbnum}`).style.position =
      'relative';
    document.getElementById(`bbmyImgbb${appendbnum}`).style.left = 0;
    document.getElementById(`bbmyImgbb${appendbnum}`).style.top = 0;
    document.getElementById(`bbmyImgbb${appendbnum}`).addEventListener(
      'dragstart',
      function () {
        start(event);
      },
      false
    );
    $('#upload_placeii img').bind('mousewheel', function () {
      // console.log(myImg);
      zoomImg(this);
      return false;
    });
    appendbnum++;
  };
</script>
<script>
  function divtoimg() {
    html2canvas(document.querySelector('#capture')).then(function (canvas) {
      a = document.createElement('a');
      a.href = canvas
        .toDataURL('image/jpeg', 0.92)
        .replace('image/jpeg', 'image/octet-stream');
      a.download = 'image.jpg';
      a.click();
    });
  }
</script>
<script>

  $("#addprod").click(function () {

    // console.log(document.getElementById("Snum").value);
    var Snum = parseInt(document.getElementById("Snum").value);
    var Mnum = parseInt(document.getElementById("Mnum").value);
    var Lnum = parseInt(document.getElementById("Lnum").value);
    if (isNaN(Snum)) {
      Snum = 0;
    }
    if (isNaN(Mnum)) {
      Mnum = 0;
    }
    if (isNaN(Lnum)) {
      Lnum = 0;
    }
    var arr = [];
    var size = "S";
    arr[0] = Snum;
    arr[1] = Mnum;
    arr[2] = Lnum;
    console.log(isNaN(Snum));

    totprice = (Snum + Mnum + Lnum) * 450;
    console.log(totprice);
    document.getElementById('totalprice').innerText = totprice;

    for (let i = 0; i < 3; i++) {
      var cart = {};
      var sizee = ""
      if (arr[i] != 0) {
        if (i == 0) {
          sizee = "S"
        } else if (i == 1) {
          sizee = "M"
        } else if (i == 2) {
          sizee = "L"
        }

        if (i == 0) {
          var cart = {
            code: '',
            all_id: '500',
            id: '55',
            name: '客製化T恤',
            image: '1',
            size: sizee,
            color: '',
            price: 450,
            quantity: arr[i]

          };
        }
        if (i == 1) {
          var cart = {
            code: '',
            all_id: '501',
            id: '55',
            name: '客製化T恤',
            image: '1',
            size: sizee,
            color: '',
            price: 450,
            quantity: arr[i]

          };
        }
        if (i == 2) {
          var cart = {
            code: '',
            all_id: '502',
            id: '55',
            name: '客製化T恤',
            image: '1',
            size: sizee,
            color: '',
            price: 450,
            quantity: arr[i]

          };
        }


        $.ajax({
          url: "http://localhost:3000/home/shop_cart",
          type: "POST",
          data: cart,
          async: false,
          success: function (res) {
            console.log("成功");
            //  var Pic =arrayBufferToBase64(cartPic);
            //  console.log(Pic);



            var dot = document.createElement("div");
            $(dot).prop("class", "dotGreen");
            $(dot).css({
              "background": "#96ff6c",
              "width": "8px",
              "height": "8px",
              "border-radius": "50%",
              "color": "#fff",
              "position": "absolute",
              "left": "88%",
              "top": "-3px",
              "transition": ".3s",
            })
            document.getElementById("fpopnav_cart").appendChild(dot);


            var pidItem = document.createElement("div");
            $(pidItem).prop("class", "d-flex mb-2 smItem");
            $(pidItem).css("padding", "0 30px");



            pidItem.innerHTML = ` 
                      <div style="
                          margin-right: 20px;
                          max-width: 37px;
                          height: 100%;
                          width: 100%;
                          
                  ">
                        <img style="width:100%; height:100%" src="data:image/png;base64,${cartPic.toString("base64")}" alt="">
                      </div>
                      <div style="font-size: 0.7em; text-align: left; user-select: none;">
                        <p class="m-0">
                        ${cart.name}
                        </p>
                        <p class="m-0" style="color: #818181;">尺寸:${cart.size}
                        </p>
                        <p class="m-0" style="color: #818181;">數量:${cart.quantity}
                        </p>
                      </div>

              `;
            $("#shopCartItttttem").append(pidItem);
          },
          err: function () {
            console.log("錯誤");

          },
        })
      }
    }

  });
</script>
<script>
  function arrayBufferToBase64(buffer) {
    var binary = "";
    var bytes = new Uint8Array(buffer);
    var len = bytes.byteLength;
    for (var i = 0; i < len; i++) {
      binary += String.fromCharCode(bytes[i]);
    };
    console.log(bytes);
    return window.btoa(binary);
  };



  uploadfinal.onchange = function () {
    const readeri = new FileReader();
    readeri.readAsDataURL(uploadfinal.files[0]);
    // console.log(myFile.files);
    readeri.onload = function () {

      const seeup = new Image(); // document.createElement('img'); // <img>
      seeup.src = readeri.result; // <img src='data....'>
      seeup.style.zIndex = 1000;
      seeup.style.margin = '5px 0';
      seeup.onload = function () {
        // 　　a. 透過 <img>
        seeup.style.width = '100px';
        document.getElementById('seefinal').append(seeup);
      }
    }
  }




  const file = document.getElementById("uploadfinal");
  var cartPic = "";
  function uploadImg(e) {
    // 檔案位置
    // console.log(e.target.files[0]);
    // 新增 formData
    const formData = new FormData();
    formData.append('image', e.target.files[0]);
    // 傳送資料
    axios.post("http://localhost:3000/home/custom", formData, {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
    }).then((response) => {
      // console.log(response.data);
      cartPic = arrayBufferToBase64(response.data.img.buffer.data);
    });
  }
  file.addEventListener('change', uploadImg);
</script>

</html>