<!-- <style>
  .fallow_content .flo_icon{
    width: 50px !important;
    height: 50px !important;
  }
</style> -->
<div>

  
  <div class="footerMell container-fluid " style="background-color: rgb(0, 0, 0);">
    <div class="row text-light" style="padding: 50px 70px 0px 70px;align-self: center">
      <div class="col-lg-3 col-md-6  col-sm-6 d-none d-md-block">
        <p>開始購物</p>
        <a href="">我的帳號</a><br>
        <a href="">運送 & 訂單追蹤</a><br>
        <a href="">退貨 & 換貨</a><br>
      </div>
      <div class="col-lg-3 col-md-6  col-sm-6 d-none d-md-block">
        <p>客戶服務</p>
        <a href="#">訂單狀況</a><br>
        <a href="#">會員專區</a><br>
        <a href="#">常見問題</a><br>
        <a href="#">聯絡我們</a><br>
      </div>
      <div class="col-lg-3 col-md-6  col-sm-6 d-none d-md-block">
        <p>關於我們</p>
        <a href="#">門市據點</a><br>
        <a href="#">品牌故事</a><br>
        <a href="#">永續經營</a><br>
      </div>
      <div class="col-lg-3 col-md-6  col-sm-12 text-center text-md-left fallow_content">
        <p>關注我們</p>

        <img class="flo_icon" src="/img/footer/icon/fb.png" style="width: 27px; height: 27px" />
        <img class="flo_icon" src="/img/footer/icon/ig.png" style="width: 27px; height: 27px" />
        <img class="flo_icon" src="/img/footer/icon/yout.png" style="width: 27px; height: 27px" />
        <img class="flo_icon" src="/img/footer/icon/pin.png" style="width: 27px; height: 27px" />
        <img class="flo_icon" src="/img/footer/icon/tw.png" style="width: 27px; height: 27px" />
        <img class="flo_icon" src="/img/footer/icon/line.png" style="width: 27px; height: 27px" />
        <hr>
        <p>我們支持以下付款方式</p>
        <img src="/img/footer/icon/visa.png" style="width: 35px; height: 20px" />
        <img src="/img/footer/icon/paypal.png" style="width: 35px; height: 20px" />
        <img src="/img/footer/icon/mas.png" style="width: 35px; height: 20px" />
      </div>
    </div>
    <div class="text-center" style="height: 80px;padding: 10px;">
      <hr>
      <p style="color: #6c6c6c;font-size: 1px;">©function.pop, all rights reserved | 使用條款 | 隱私權政策 | Cookie政策
      </p>
    </div>
  </div>
  
</div>
