<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <!-- <script src="/js/admin/bootstrap.min.js"></script> -->
    <script src="/js/admin/jquery.min.js"></script>
    <link rel="stylesheet" href="/js/member/bootstrap-4.6.1-dist/css/bootstrap.css">
    <script src="/js/member/bootstrap-4.6.1-dist/js/jquery.min.js"></script>
    <script src="/js/member/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    <link rel="icon" href="/img/admin/black_icon.png" type="image/gif" sizes="16x16">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <link rel="icon" href="/img/admin/black_icon.png" type="image/gif" sizes="16x16">
    <title>f.pop 註冊</title>

    <style>
        .fpop_inp {
            height: 35px ;
            width: 100%;
            border: 1px solid #acacac;
            border-radius: 6px;
            font-size: 10px;
            margin: 10px 0;
            padding: 0 10px;
        }

        .fpop_inp:focus {
            background-color: #ececec;
        }

        .footerMell>div>div>a {
            color: white;
            font-size: small;

        }

        .fpop_inperro {
            height: 35px;
            width: 100%;
            border: 1px solid #d83838;
            border-radius: 6px;
            font-size: 10px;
            margin: 10px 0;
            padding: 0 10px;
        }

        .inp_right {
            border: 1px solid #33a51d;
            border-radius: 6px;
            background-color: azure;
        }

        .inp_Err {
            visibility: hidden;
            position: absolute;
            top: 0px;
            right: 6px;
            transform: translateY(-19px);
            font-size: 5px;
            color: #d83838;
        }

        .regText {
            opacity: 0.6;
            text-align: center;
            font-size: 15px;
        }

        .inputbox label {
            padding: 0;
        }
    </style>
</head>

<body>

    <div>

        <%- include("navbar.ejs") %>
            <br>
            <br>
            <br>
            <% if(!memberprofile){ %>
                <h4 style="font-weight: 600;text-align: center;">註冊新帳號</h4>
                <p class="regText">儲存您的資料,享有快速結帳流程、建立願望清單、查看訂單紀錄、查詢退貨紀錄。</p>
                <div class="container  inputbox">
                    <div class=" registerContent" style="max-width: 460px; width: 100%; margin: 76px auto;">
                        <div class="row">
                            <label class="col-12"
                                style="color:rgb(163, 163, 163); transform: translateX(-7px);">*星號欄位必填</label>
                        </div>
                        <div class="row mb-3" style="position:relative;">
                            <label class="col-4 align-self-center registerLab">姓名*:</label>
                            <div class="col">
                                <input class="fpop_inp" type="text" id="cName" name="cName" placeholder="名字*">
                            </div>
                            <label class="inp_Err" id="nameErr">請填寫姓名欄位*</label>
                        </div>
                        <div class="row mb-3" style="position:relative;">
                            <label class="col-4 align-self-center registerLab">生日*:</label>
                            <div class="col">
                                <input class="fpop_inp" type="date" id="cBirth" name="cBirth">
                            </div>
                            <label class="inp_Err " style="visibility:hidden" id="birthErr">請填寫生日欄位*</label>
                        </div>
                        <div class="row mb-3" style="position:relative;">
                            <label class="col-4 align-self-center registerLab">性別*:</label>
                            <div class="col ">
                                <select class="fpop_inp " id="gender" name="cgender">
                                    <option name="gender" value="F">女性</option>
                                    <option name="gender" value="M">男性</option>
                                    <option name="gender" value="X">不說</option>
                                </select>
                            </div>
                            <label class="inp_Err col-12" style="visibility:hidden" id="genderErr">請填寫性別欄位*</label>

                        </div>
                        <div class="row mb-3" style="position:relative;">
                            <label class="col-4 align-self-center registerLab">電子郵件*:</label>
                            <div class="col">
                                <input class="fpop_inp" type="email" id="cAccount" name="cAccount" placeholder="電子郵件*">
                            </div>
                            <label class="inp_Err " style="visibility:hidden; " id="accountErr">請填寫電子郵件欄位*</label>
                            <label class="inp_Err " style="visibility:hidden ;" id="accountErr2">請輸入有效的郵箱地址*</label>
                            <label class="inp_Err" style="visibility:hidden ;" id="accountErr3">電子郵件已註冊過，麻煩重新輸入*</label>
                        </div>
                        <div class="row mb-3" style="position:relative;">
                            <label class="col-4 align-self-center registerLab">連絡電話*：</label>
                            <div class="col">
                                <input class="fpop_inp" type="tel" id="cPhone" name="cPhone" placeholder="連絡電話*">
                            </div>
                            <label class="inp_Err" style="visibility:hidden;" id="phoneErr">請填寫連絡電話欄位*</label>
                            <label class="inp_Err" style="visibility:hidden;" id="phoneErr2">請填寫有效電話*</label>
                        </div>
                        <div class="row mb-3" style="position:relative;">
                            <label class="col-4 align-self-center registerLab">通訊地址*：</label>
                            <div class="col">
                                <input class="fpop_inp" type="text" id="cAddr" name="cAddr" placeholder="通訊地址*"><br>
                            </div>
                            <label class="inp_Err" style="visibility:hidden" id="addrErr">請填寫連絡通訊欄位*</label>
                        </div>
                        <div class="row mb-3" style="position:relative;">
                            <label class="col-4 align-self-center registerLab">密碼*：</label>
                            <div class="col">
                                <input class="fpop_inp" type="password" id="cPassword" name="cPassword"
                                    placeholder="密碼*"><br>
                            </div>
                            <label class="inp_Err" style="visibility:hidden" id="cpasswordErr">請填寫密碼欄位*</label>
                        </div>
                        <div class="mt-5" style="text-align:center ;">
                            <button style="padding: 7px 75px;" class="btn btn-dark" id="register">註冊</button>
                        </div>
                    </div>

                </div>
                <% } else {%>
                    <div id="timeBox"></div>
                    <script>
                        // 設定秒數
                        var count = 1;
                        function countDown() {
                            document.getElementById("timeBox").innerHTML = count;
                            count -= 1;
                            // 當 count = 0 時跳轉頁面
                            if (count == 0) {
                                location.href = history.back();
                            }
                            setTimeout("countDown()", 0.1);
                        }
                        // 執行 countDown
                        countDown();
                    </script>
                    <% } %>
    </div>
    <script>
        $("#cName").on('input', function () {
            if (!($("#cName").val() == '')) {
                $("#cName").addClass("inp_right")
                $("#nameErr").css('visibility', 'hidden')
            }
        })
        $("#cBirth").on('input', function () {
            if (!($("#cBirth").val() == '')) {
                $("#cBirth").addClass("inp_right")
                $("#birthErr").css('visibility', 'hidden')
            }
        })
        $("#cAddr").on('input', function () {
            if (!($("#cAddr").val() == '')) {
                $("#cAddr").addClass("inp_right")
                $("#addrErr").css('visibility', 'hidden')
            }
        })
        $("#cAccount").on('input', function () {
            if (!$("#cAccount").val() == '') {
                $("#cAccount").addClass("inp_right")
                $("#accountErr").css('visibility', 'hidden')
            }
        })
        $("#cPhone").on('input', function () {
            if (!$("#cPhone").val() == '') {
                $("#cPhone").addClass("inp_right")
                $("#phoneErr").css('visibility', 'hidden')
            }
        })
        $("#cPassword").on('input', function () {
            if (!$("#cPassword").val() == '') {
                $("#cPassword").addClass("inp_right")
                $("#cpasswordErr").css('visibility', 'hidden')
            }
        })

        function checkInputInfo() {
            var x = $("#cName").val();
            var y = $("#cBirth").val();
            var p = $("#cPhone").val();
            var a = $("#cAddr").val();
            var e = $("#cAccount").val();
            var pas = $("#cPassword").val();
            var phoneFormat = /^09[0-9]{8}$/;
            var emailFormat = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            var b = true;
            if (x == null || x == "") {
                $("#cName").addClass("fpop_inperro")
                $("#nameErr").css('visibility', 'visible')
                b = false
            }
            if (y == null || y == "") {
                $("#cBirth").addClass("fpop_inperro")
                $("#birthErr").css('visibility', 'visible')
                b = false
            }
            if (a == null || a == "") {
                $("#cAddr").addClass("fpop_inperro")
                $("#addrErr").css('visibility', 'visible')
                b = false
            }

            if (e == null || e == "") {
                $("#cAccount").addClass("fpop_inperro")
                $("#accountErr").css('visibility', 'visible')
                b = false
            } else if (!emailFormat.test(e)) {
                $("#cAccount").addClass("fpop_inperro")
                $("#cAccount").removeClass("inp_right")
                $("#accountErr").css('visibility', 'hidden')
                $("#accountErr2").css('visibility', 'visible')
                b = false
            }
            if (p == null || p == "") {
                $("#cPhone").addClass("fpop_inperro")
                $("#phoneErr").css('visibility', 'visible')
                b = false
            } else if (!phoneFormat.test(p)) {
                $("#cPhone").addClass("fpop_inperro")
                $("#cPhone").removeClass("inp_right")
                $("#phoneErr").css('visibility', 'hidden')
                $("#phoneErr2").css('visibility', 'visible')
                b = false
            }
            if (pas == null || pas == "") {
                $("#cPassword").addClass("fpop_inperro")
                $("#cpasswordErr").css('visibility', 'visible')
                b = false
            }
            return b
        }

        $("#register").click(function () {
            if (!checkInputInfo()) {
                alert("資料輸入有誤");
                return false
            }
            $.ajax({
                url: "http://localhost:3000/home/member/register",
                type: "POST",
                data: {
                    cName: $("#cName").val(),
                    cBirth: $("#cBirth").val(),
                    cgender: $("#gender").val(),
                    cAccount: $("#cAccount").val(),
                    cPhone: $("#cPhone").val(),
                    cAddr: $("#cAddr").val(),
                    cPassword: $("#cPassword").val(),
                },
                success: function (data) {    //    alert後臺的返回值  
                    if (data == "ok") {
                        alert("註冊成功")
                        window.location.href = '/home/member/register_success';
                    } else {
                        alert(data);
                    }
                },
                error: function () {
                    // alert(`連線失敗`);
                }
            })
        });
    </script>

    <%- include("footer.ejs") %>

</body>

</html>