

.title_1 {
    /* background-color: black; */
    font-size: 18px;
    color: black;
    border-bottom: 5px solid #FFE200;
    border-radius: 4px;
}

.title_1:hover {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.title_2 {
    color: grey;
}

.title_2:hover {
    text-decoration: none;
    color: black;
}

.title_3 {
    border-left: 5px solid black;
}

.btn_GO {
    height: 40px;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    text-align: center;
    line-height:40px;
}

.btn_GO:hover {
    background-color: #FFE200;
    color: black;
    text-decoration:none;
}
.btn_cancel{
    height: 40px;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: white;
    color: black;
    text-align: center;
    line-height:40px;
}
.btn_cancel:hover{
    background-color: #FFE200;
    color: black;
    text-decoration:none;

}
.b_radius{
    border-radius: 8px;
}
.input-group {
    position: relative;
}

.input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: black;
    background-color: transparent;
    outline: 1px solid rgb(220, 218, 218);
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20px, 20px);
    transition:transform .5s;
}

.input:focus+.input-label,
.input:valid+.input-label {
    transform:translate(0px, -15px) scale(.8);
    /* border: 2px solid black ; */
    color: gray;
    padding-inline: 5px;
    /* background-color: #242329; */
}

.input:is(:focus, :valid) {
    outline-color:grey
}


.button_desc{
    /* text-decoration: none; */
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    font-size: 15px;
    color: red;
    border: 1px solid black;
    padding: 4px 16px;
    position: relative;
    overflow: hidden;
    transition: color 0.6s;
    background-color: transparent;
    border-radius: 4px;

  }
  .button_desc:hover{
    background-color: white;
    color:white;

  }
  .button_desc::before{
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    width: 0;
    height: 100%;
    background-color: red;
    outline: 1px solid black;
    transform: skewX(35deg);
    z-index: -1 ;
    transition: width 1s;
  }
  .button_desc:hover::before{
    width: 185%;
  }
 /* ＋號碼按鈕 */
 .button_incr{
    /* text-decoration: none; */
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    color: green;
    border: 1px solid black;
    padding: 4px 16px;
    position: relative;
    overflow: hidden;
    transition: color 0.6s;
    background-color: transparent;
    border-radius: 4px;

  }
  .button_incr:hover{
    background-color: white;
    color:white;

  }
  .button_incr::before{
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    width: 0;
    height: 100%;
    background-color: green;
    outline: 1px solid black;
    transform: skewX(35deg);
    z-index: -1 ;
    transition: width 1s;
  }
  .button_incr:hover::before{
    width: 185%;
  }


@media screen and (max-width: 767px){
    *{
        font-size: 10px;
    }
    .title_1 p{font-size :13px;}
    .btn_GO, .btn_cancel{
        /* border-radius: 5px; */
        height: 35px;
        width: 30%;
        text-align: center;
        line-height:35px;

    }
 }