<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/admin/black_icon.png" type="image/gif" sizes="16x16">
    <title>f.pop Login</title>
    <link rel="stylesheet" href="/css/all.css">
    <script src="/js/member/jquery.min.js"></script>
    <script src="/js/member/popper.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

</head>

<body>

    <div class="containe h-50">
        <%- include("../navbar.ejs") %>
            <div class="text-center align-items-center border-success border mt-5">
                <form action="/home/member/login" method="POST" class="">
                    <div class="row">
                        <div class="col-6 text-right">
                            使用者帳戶：
                        </div>
                        <div class="col-6 text-left">
                            <input type="text" name="cAccount" id="" placeholder="請在此填入信箱">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right">
                            密碼：
                        </div>
                        <div class="col-6 text-left">
                            <input type="password" name="cPassword" id="" placeholder="請在此填入密碼">
                        </div>
                    </div>
                    <input type="submit" name="" id="">
                </form>
            </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class="footer">
        <%- include("../footer.ejs") %>
    </footer>

</body>

</html>