.pageone {
    background-image: url(../img/home/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    z-index: -511;
  }
  
  // .chili {
  //   position: absolute;
  //   top: 5%;
  //   left: 9%;
  //   width: 31%;
  //   min-width: 200px;
  //   mix-blend-mode: lighten;
  // }

  .logo_word {
    position: absolute;
    // margin: 0 auto;
    // top: 13%;
    right: 45%; 
    opacity: 0.8;
  }
  
/* @media screen and (max-width: 1250px) {
  .chili {
    -o-object-fit: contain;
       object-fit: contain;
    top: 4%;
    width: 70%;
    max-width: 550px;
    left: 5%;
  }
  .logo_word {
    top: 15%;
    right: 13%;
  }
}

@media screen and (max-width: 980px) {
  .chili {
    -o-object-fit: contain;
       object-fit: contain;
    top: 5%;
    left: 5%;
    width: 60%;
    max-width: 500px;
    min-width: 400px;
  }
  .logo_word {
    right: 13%;
    top: 18%;
  }
}

@media screen and (max-width: 600px) {
  .chili {
    top: 5%;
    width: 80%;
    max-width: 400px;
    min-width: 300px;
  }
  .logo_word {
    top: 20%;
  }
}

@media screen and (max-width: 400px) {
  .pageone {
    width: 100%;
    right: 0%;
  }
  .chili {
    -o-object-fit: contain;
       object-fit: contain;
    top: 5%;
  }
  .logo_word {
    top: 20%;
  }
} */