.pagetwo {
    background-image: url(../img/home/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    z-index: -600;
    /* height: auto; */
    overflow: hidden;
    
  }
  
//   .rowst {
//     display: flex;
//     flex-wrap: wrap;s
//   }
  
//   .colst {
//     flex-grow: 1;
//     margin: 10px auto;
//   }
  
  .yy .figure img {
    width: 100%;
    object-fit: cover;
    border: 1px solid rgb(240, 231, 144);
  }
  
  .midpic {
    min-height: 650px;
    margin: 10px 0 0 0;
    text-align: center;
    overflow: hidden;
    /* border: 1px solid rgb(107, 101, 43); */
  }
  
  .downpic {
    position: absolute;
    margin: 0 auto;
    /* top: 0; */
    left: 10px;
    
  }
  
  figcaption {
    text-align: center;
    color: white;
  }
  
  .stories {
    position: relative;
    font-family: 'Dorsa';
    font-size: 20px;
    font-weight: lighter;
    transform: scale(1, 4);
    line-height: 60px;
    letter-spacing: 0.5em;
    color: #FFFFFF;
  }
  
  .storytitle {
    position: fixed;
    z-index: 5000;
    top: -100px;
    /* border: 1px black solid; */
    left: 46%;
    text-align: center;
    transition: top 2s ease-out;
  }
  
  @media screen and (max-width:1650px) {
    .storytitle {
        left: 45.5%;
    }
  }
  
  @media screen and (max-width:991.98px) {
    .storytitle {
        left: 30%;
    }
  }
  
  @media screen and (max-width:576px) {
    .storytitle {
        /* top: 10%; */
        left: 36.5%;
    }
  }
  
  @media screen and (max-width:420px) {
    .storytitle {
        /* top: 8%; */
        left: 32.5%;
    }
  }
  