.oir {
    outline: 2px solid #f00;
}

.oi {
    outline: 2px solid #000;
}

.oib {
    outline: 2px solid #00f;
}

.oig {
    outline: 2px solid rgb(8, 90, 0);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

// a {
//     text-decoration: none;
//     color: #000;
// }
.q_sub:hover,
.q_add:hover {
    box-shadow: 0px 0px 2px #666;
}

.cart {
    font-size: 0.6em;
    padding: 12px 20px;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 28px;
}

#cart_tb {
    // width: 100%;
    font-size: 0.6em;
}



.cart_banner .top_link ul {
    display: flex;
}

.cart_banner .top_link li {
    padding: 0 10px;
    position: relative;
}

.cart_banner .top_link li a {
    font-size: 0.6em;
}

.cart_banner .top_link li+li ::before {
    content: "";
    width: 1px;
    height: 40%;
    position: absolute;
    border-right: 1px solid #000;
    left: 0;
    top: 50%;
    bottom: 0;
    transform: translateY(-40%);


}

.cart_banner .mid,
.cart_banner .cart-step {
    text-align: center;
    margin: auto;
}

.cart-step ul {
    display: flex;
    justify-content: center;

}

.cart-step ul li {
    font-size: 0.6em;
    padding: 0 20px;
    position: relative;
}

.cart-step ul li span {
    color: #fff;
    background-color: #858796;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: scale(0.9);
    font-weight: 600;
}

.cart-step ul li+li::before {
    content: ">";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);

}

.cart_Order {
    font-size: 0.6em;
    background-color: #EEEEEE;
    padding: 14px 22px;
    border-radius: 8px;
}

.cart_Order div+div:not(#buy) {
    border-top: 1px solid #C8C8C8;

}


.content_text {
    // margin: 40px 0;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
}

#cart_tb thead tr {
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}

.css_tr {
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    padding: 15px 0;
    margin-bottom: 17px;
}

.css_trr {
    margin: 15px 0;
}

#css_tbody {
    font-size: 0.6em;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 10px;
    border-top: 35px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    border-left: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    border-radius: 5px;
}

.css_table {
    // text-align: center;
}

#buy button {
    background-color: #53AA35;
    color: #fff;
    padding: 5px 45px;
    border: none;
    border-radius: 5px;

}

.css_thead .css_tr {
    display: flex;

}

.t-head {
    font-size: 0.6em;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}

.del:hover {
    color: #000;
}

.fz-dark {
    color: #858796;
}

.cart-link a {
    color: #000;
}

.cart_content {
    margin-bottom: 50px;
}

.owl-carousel .img {
    max-width: 100%;
    width: 100%;
    background-color: #ccc;
    height: 300px;
}

// .ct_form input {
//     border: 1px solid #888;
//     border-radius: 5px;
//     padding: 8px 5px;
// }

.ct_form div {
    margin-bottom: 20px;
}

.ct_form span {
    display: inline-block;
}

.cars {
    height: 32px;
    width: 53px;

    border-radius: 5px;
}

.payCh {
    box-shadow: 1px 1px 3px #ccc;
    padding: 8px 7px;
    border-radius: 5px;
}

.checkBg {
    background-color: #EEEEEE;
}

.payCh:hover {
    box-shadow: 2px 3px 5px #aaa;
}


.payCh+.payCh {
    margin-left: 20px;
}

.pay-content>div {
    margin-bottom: 20px;

}

.pay-content input {
    border-radius: 5px;
    padding: 8px 5px;
}

#cart-submit {
    background-color: #53AA35;
    color: #fff;
    padding: 5px 40px;
    border-radius: 5px;
    border: none;
    margin: auto;
    display: block;

}

.cart_cho {
    position: relative;
    height: 14px;
    width: 14px;
}

.cart_cho:checked::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/shop_cart/check.png);
}

.order_info {
    display: inline-block;
    width: 100px;
    margin-bottom: 16px;
}


.order_infoContent {
    font-size: 0.7em;
    border: 1px solid #000;
    border-radius: 7px;
    padding: 11px;
}